*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

}
body{
    width: 100%;
    height: 100%;
    background-image: url(../img/Uchihas.jpg);
}


div.menu-principal{
    width: 100%;
    height: 10%;
    display: flex;
}

div.menu-principal > div.logo{
    width: 20%;
}

div.menu-principal > div.links{
    width: 50%;
    margin-right: 40%
}

div.menu-principal > div.links a{
    text-decoration: none;
    color: white;
    float: right;
    margin: 2% 2% 2% 2%;
    
}

div.menu-principal > div.links img{
    width: 80px;
    height: 80px; 
    border-radius: 800px;
    transition: 1s;
    transform: translateX(0) scale(0.8);
}

div.menu-principal > div.links img:hover,
div.menu-principal > div.links img:focus{
    transform: translate(10px) scale(1.2);
}

div.templo-uchihas{
    width: 100%;
    height: 100%;
   
    display: flex;
}

div.templo-uchihas > div.irmao{
    width: 40%;
    height: 100%;
    

}

div.templo-uchihas > div.irmao > div.itachi{

    width:70%; 
    height: 65%;
    text-align: center;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    padding-top: 20%;

}

div.templo-uchihas > div.irmao > div.itachi > iframe.video-itachi{
    width: 50%;
    border-radius: 100%;
    margin-top: 40%;
    margin-left: 30%;
}


div.templo-uchihas > div.irmao > div.itachi a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
}


div.templo-uchihas > div.irmao > div.shisiu{
    width: 80%;
    height: 50%;
    padding-left: 20%;
    margin-left: 20%;
    padding-top: 35%;
    
}


div.templo-uchihas > div.irmao > div.shisiu > iframe.video-shisiu{
    width: 50%;
    height: 50%;
    border-radius: 100%;
   
   


}

div.templo-uchihas > div.irmao > div.shisiu a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
    

}



div.templo-uchihas > div.madara{
    width: 30%;
    display: flex;
    padding-top: 21.8%;
    padding-left: 9.5%;

    
    
}

div.templo-uchihas > div.madara > iframe.video-madara{

    width: 70%;
    height: 50%;
    border-radius: 100%;
    margin-top: 40%;
    margin-left: 5%;


}

div.templo-uchihas > div.madara a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
}




div.templo-uchihas > div.sasuke{
    width: 20%;
    padding-top: 7%;
 
}
div.templo-uchihas > div.sasuke a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
}

div.templo-uchihas > div.sasuke > iframe.video-sasuke{

    width: 90%;
    height: 40%;
    border-radius: 100%;
    margin-top: 50%;
    margin-left: 23%;

}


div.templo-uchihas > div.obito{
    width:20%;
    height: 20%;
    
}

div.templo-uchihas > div.obito > iframe.video-obito{
    width: 70%;
    height: 40%;
    border-radius: 100%;
    margin-top: 50%;
    

}

div.templo-uchihas > div.obito a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
}



